$base00: #1F1F28;
$base01: #2A2A37;
$base02: #223249;
$base03: #727169;
$base04: #C8C093;
$base05: #DCD7BA;
$base06: #938AA9;
$base07: #363646;
$base08: #C34043;
$base09: #FFA066;
$base0A: #DCA561;
$base0B: #98BB6C;
$base0C: #7FB4CA;
$base0D: #7E9CD8;
$base0E: #957FB8;
$base0F: #D27E99;

Widget {
  color: $base05;
}
MonthlyCalendarHeader {
  background: $base0D;
  color: $base00;
}
Day {
  border: round $base03;
}
Day.highlighted {
  border: thick $base0B !important;
}
Day.current-month {
  border: round $base0C;
}
Day.today {
  border: round $base0D;
}
Day.today > DayText {
  color: $base0D;
}
Day.saturday > DayText {
  color: $base08;
}
Day.sunday > DayText {
  color: $base08;
}
Day > VerticalScroll {
  height: 100%;
}
Day Label.event {
  background: $base0C;
  color: $base00;
}
Static.weekday-name-header {
  color: $base04;
}

EventsModal {
  align: center middle;
}

EventsModal > Horizontal {
  width: 70%;
  height: 80%;
  padding-left: 1;
  padding-right: 1;
  border: round $base0C;
}

EventsModal EventList {
  width: 50%;
}

EventsModal EventList Label.event {
  padding: 1;
}

EventsModal Widget.panel {
  padding: 1;
}
